*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To box model */
}

body{
     
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color: #fff;
    border:none;
    padding: 10px;
    margin-right: 20px;
    border-radius: 6px;
    cursor: pointer;
}
.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto
}

.navbar{
     
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    
}

.navbar_brand{
    width: 100px;
    margin-left: 10px;
    
}

.navbar_logo{
    width: 110%;
    
}

.nav_item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color: #fff;
    border:none;
    padding: 10px;
    margin-right: 20px;
    border-radius: 6px;
    cursor: pointer;
    
}.nav_item:hover{
    border: 2px solid rgb(247, 91, 91);
}

.hero_container{
    margin: 20px 0;
    
}
.hero_image_container{
    width: 100%;
    border-radius: 8px;
}
.hero_image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}


.hero_text{
    font-size: 30px;
     
    padding: 20px 0;
}
.hero_button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color: #fff;
    border:none;
    padding: 10px;
    margin-right: 20px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 15px;
    
}
.hero_button:hover{
    border: 2px solid rgb(247, 91, 91);
}

.explore_container{
    margin-top: 70px;
    margin-bottom: 70px;
}
.explore_title{
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

.explore_food_lists{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    
}
.food_card{
    width: 100%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 10px ;

}
.food_card_image{
    width: 100%;
    margin-bottom: 3px;
    border-radius: 10px 10px 0px 0px;
}
.food_card_description{
    margin: 15px;
}
.button_explore{
    width: 100%;
    padding: 15px 0px;
    font-size: 18px;
}

/*  flex  */
.restaurant_text{
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

.restaurant_images_container{
    width: 100%;
    gap: 5px;
    
    
}
.restaurant_images_row1, .restaurant_images_row2{
    display: flex;
    gap: 5px;
}
.restaurant_images_row1{
    align-items: baseline;
    margin: 5px 0px;
}

.restaurant_image1, .restaurant_image4{
    width: 100%;
    height: 120px;
}
.restaurant_image2, .restaurant_image3{
    width: 120%;
    height: 180px;
    
     
}
 
.restaurant1, .restaurant2, .restaurant3, .restaurant4{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.email_subscribe_container{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}
.email_stayupdated{
    margin: 20px;
    
    font-size: 30px;
}
.email_input{
    
    display: flex;
    align-items:center;
    gap:10px;
    margin: 15px 0px;
}
.email_holder{
    width: 70%;
    height: 35px;
    
    border:1px solid rgb(219, 66, 5);
    border-radius: 4px;
}
.email{
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: rgb(27, 19, 82);
    text-align:start;
    border: none;
    background-color: #fcedf0;
    border-radius: 4px;
}
.button_email{
    width: 30%;   
    font-size: 14px;
    border-radius: 4px;
}
.quote_container{
    position: relative;
    margin: 50px 0;
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
.quote_image{
    
    width: 100%;
    height: 100%;
    
    border-radius: 15px;

}
.quote_shade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    background-color: #0a4065;
    opacity: 45%;
    z-index: 0;
}
.quote_text_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 65px 15px;
    z-index: 2;
}
.quote_text{
    color: #fff;
}
footer{
    background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
    );

    padding: 15px 20px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_logo{
    filter: brightness(0) invert(1);
    width: 100%;
    height: 100%;
}
ul{
    color: #fff;
}

@media  (min-width: 768px){
    .navbar{
        justify-content: space-between;
        max-height: 70px; 
    }
    .button_primary{
         
        font-size:15px;
    }
    
    .hero_container{
        margin-top: 60px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero_text{
        font-size: 35px;
    }
   
    .explore_container{
        position: relative;
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .explore_title{
       margin-bottom: 50px;
       font-size: 35px; 
    }

    .explore_food_lists{
        flex-direction: row;
        padding: 0 30px;
    }

    #pizza{
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .button_explore{
        width: 35%;
        margin: 0px 240px; 
        padding: 5px 0px;
        font-size: 18px;
         
    }
    .sp:hover{
        background-color: aqua;
    }

    .explore_gradient_bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        transform: skewY(-5deg);
        z-index: -3;
    }

    .restaurant_container{
        display: flex;
        align-items: center;
        margin: 100px 0;
    }
    .restaurant_text{
        width: 100%;
        margin-bottom: 0px;
        font-size: 35px;
    }
    .restaurant_images_container{
        width: 100%;
    }

    .restaurant_images_row1, .restaurant_images_row2{
        
        gap: 9px;
    }
    .restaurant_images_row1{
        align-items: baseline;
        margin: 8px 0px;
    }
    .email_stayupdated{
        font-size: 35px;
    }
    .email_subscribe_container{
       
        padding: 0 150px;
        width: 100%;
    }
    .quote_container{
        height: 300px;
        width: 100%;
        margin-bottom: 0;
        display: flex;
        overflow: hidden;
        align-items: center;
    }
    .quote_image{
        
        height:auto;
    }
    .quote_text_container{
        padding: auto 0;
        height: auto;
        top: auto;
    }
    .quote_text{
        font-size: 2rem;
        font-weight: 500;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;
    }
    .footer_logo{
        width: 45%;
    }
    ul{
        width: 30%;
    }
    
}


@media (min-width: 1020px){
    .navbar_brand{
        width: 150px;
    }
    .button_primary{
        padding: 12px 15px;
        font-size:18px;
    }
    .container{
        max-width: 900px;
    }
    .hero_description{
        width: 100%;
    }
     
    .hero_text{
        font-size: 40px;
    }
    .explore_title{
        margin-bottom: 50px;
        font-size: 40px; 
     }
 
    .button_explore{
        margin: 0px 280px;
    }
    .restaurant_text{
        font-size: 40px;
    }
    .restaurant_image1, .restaurant_image4{
        width: 80%;
        height: 120px;
    }
    .restaurant_image2, .restaurant_image3{
        width: 120%;
        height: 180px;
        
    }
    .email_stayupdated{
        font-size: 40px;
    }
    footer{
        padding: 0;
        height: 200px;
    }
    .footer_logo{
        width: 300px;
    }
    ul{
        width: 200px;
    }
}

@media (min-width: 1300px){
    .container{
        max-width: 1165px;
    }

    .hero_text{
        font-size: 45px;
    }
    .hero_image{
        width: 100%;
    }
    .explore_title{
        font-size: 45px; 
     }
    .button_explore{
        margin: 0px 370px;
    }
    .restaurant_text{
        font-size: 45px;
    }

    .restaurant_image1, .restaurant_image4{
        width: 90%;
        height: 170px;
    }
    .restaurant_image2, .restaurant_image3{
        width: 110%;
        height: 240px;
        
         
    }
    .email_subscribe_container{
        padding: 0px 300px;
    }
    .email_stayupdated{
        font-size: 45px;
    }
}

