*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To box model */
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    
}

.navbar_brand{
    width: 100px;
    
}

.navbar_logo{
    width: 100%;
    
}

.nav_item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );

    color: #fff;
    border:none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    
}.nav_item:hover{
    border: 2px solid rgb(146, 129, 207);
}

@media  (min-width: 768px){
    .navbar{
        justify-content: space-between;
        padding: 0px 30px;
    }
}

@media (min-width: 1020px){
    .navbar_brand{
        width: 150px;
    }
    .nav_item{
        padding: 20px;
        font-size:20px;
    }

}
